var config;

// Default NODE_ENV is development
process.env.NODE_ENV = process.env.NODE_ENV || 'development';

config = {
    development: {
        server: {
            port: 8080
        },
        imap: {
            auth: {
                user: "",
                pass: ""
            },
            host: "localhost",
            port: 993,
            secureConnection: true
        },
        smtp: {
            auth: {
                user: "",
                password: ""
            },
            host: "",
            port: "587",
            secureConnection: false
        }
    },
    production: {
        server: {
            port: 8080
        },
        imap: {
            auth: {
                user: "",
                pass: ""
            },
            host: "localhost",
            port: 993,
            secureConnection: true
        },
        smtp: {
            auth: {
                user: "",
                password: ""
            },
            host: "",
            port: "587",
            secureConnection: false
        }
    },
    testing: {
        server: {
            port: 8080
        },
        auth: {
            'testingtoken': {
                imap: {
                    auth: {
                        user: "testuser",
                        pass: "testpass"
                    },
                    host: "localhost",
                    port: 1143,
                    secureConnection: false
                },
                smtp: {
                    host: "localhost",
                    port: "1587",
                    secureConnection: false
                }
            }
        }
    }
};


module.exports = config[process.env.NODE_ENV];
