var config;

// Default NODE_ENV is development
process.env.NODE_ENV = process.env.NODE_ENV || 'development';

config = {
    development: {
        server: {
            port: 4110
        },
        auth: {}
    },
    production: {
        server: {
            port: 4110
        },
        auth: {}
    },
    testing: {
        server: {
            port: 4110
        },
        auth: {
            'testingtoken': {
                imap: {
                    auth: {
                        user: "testuser",
                        pass: "testpass"
                    },
                    host: "localhost",
                    port: 1143,
                    secureConnection: false
                },
                smtp: {
                    host: "localhost",
                    port: "1587",
                    secureConnection: false
                }
            }
        }
    }
};


module.exports = config[process.env.NODE_ENV];
