<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="target-densitydpi=device-dpi" />
    <meta name="HandheldFriendly" content="true" />
    <title>{{ site.name }}</title>
    <style>
        {% include stylesheet.css %}
        {% include syntax.css %}
    </style>
</head>

<body>

    <div id="sidebar" class="interface">
        <a class="toc_title" href="#">{{page.title}}
            <span class="version">(0.1.0)</span>
        </a>
        <ul class="toc_section">
            <li>&raquo;
                <a href="{{site.github}}">GitHub Repository</a>
            </li>
        </ul>
    </div>

    <div id="sidebar" class="interface">

        <a class="toc_title" href="#">
            mail-api
            <span class="version">(0.1.0)</span>
        </a>
        <ul class="toc_section">
            <li>&raquo;
                <a href="https://github.com/jgillich/mail-api">GitHub Repository</a>
            </li>
        </ul>

        <a class="toc_title" href="#mailboxes">
            Mailboxes
        </a>
        <ul class="toc_section">
            <li>- <a href="#get-mailboxes">GET /</a></li>
            <li>- <a href="#get-mailboxes-path">GET /:path</a></li>
        </ul>

        <a class="toc_title" href="#messages">
            Messages
        </a>
        <ul class="toc_section">
            <li>- <a href="#get-messages">GET /</a></li>
            <li>- <a href="#get-messages-id">GET /:id</a></li>
            <li>- <a href="#post-messages">POST /</a></li>
            <li>- <a href="#put-messages">PUT /</a></li>
            <li>- <a href="#delete-messages">DELETE /:id</a></li>
        </ul>

        <a class="toc_title" href="#examples">Examples</a>

        <a class="toc_title" href="#conventions">Conventions</a>

    </div>

    <div class="container">
        {{ content }}
    </div>

</body>

</html>
